<!DOCTYPE html>
<html>

<head>
<title>Add Medicine</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h2>Add Medicine</h2>

<form method="POST">

<input type="text" name="name" placeholder="Medicine Name" required>

<input type="text" name="dosage" placeholder="Dosage">

<input type="number" name="stock" placeholder="Stock">

<div id="reminders">

<input type="time" name="reminder">

</div>

<button type="button" onclick="addReminder()">Add Another Reminder</button>

<br><br>

<button type="submit">Add Medicine</button>

</form>

</div>

<script>

function addReminder(){

var container=document.getElementById("reminders")

var input=document.createElement("input")

input.type="time"
input.name="reminder"

container.appendChild(input)

}

</script>

</body>
</html>
